.container-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  height: 56px;
  min-height: 56px;
}

.divider  {
  border-bottom: 1px solid #999;
}

.fill-1 {
  flex: 1;
}

.fill-2 {
  flex: 2;
}

// alignment
.center-stretch,
.center-none {
  justify-content: center;
  &.align-text {
    text-align: center;
  }
}
.center-start {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  &.align-text {
    text-align: center;
  }
}
.center-end {
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  &.align-text {
    text-align: center;
  }
}

.start-center,
.none-center {
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 100%;
}

.end-center {
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  max-width: 100%;
  &.align-text {
    text-align: right;
  }
}

.space-around-center {
  justify-content: space-around;
  align-items: center;
  align-content: center;
  max-width: 100%;
  &.align-text {
    text-align: center;
  }
}

.space-between-center {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 100%;
  &.align-text {
    text-align: center;
  }
}

.center-center,
.center {
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;

  &.align-text {
    text-align: center;
  }
}
